$main-white-color: #ffffff;
$focus-color: #fce38a;
$main-text-color: #333333;
$second-title: #333333;
$second-text: #999999;
$after-title: #f38181;
$svg-service-color: #95e1d3;
$section-line-after: #e5e5e5;

$main-font: Montserrat;
$text-italic: KaushanScript;
$second-font: Roboto;

