.button {
  background-color: transparent;
  border: solid 3px $main-white-color;
  padding: 10px 20px;
  text-transform: uppercase;
  font-family: $main-font;
  font-weight: 700;
  font-size: 14px;
  color: $main-white-color;
  cursor: pointer;
  margin-bottom: 176px;
}
